<!-- header -->
<app-header (search)="setUsername($event)"></app-header>

<!-- If username exist, renders profile & repo component else No user exist markup -->
<div *ngIf="username">
  <app-profile
    [username]="username"
    (totalRecordsChange)="updateTotalRecords($event)"
  ></app-profile>
  <app-repo [username]="username" [pagination]="pagination"></app-repo>
</div>

<!-- no user exist markup -->
<div
  *ngIf="!username"
  class="flex flex-col justify-center items-center text-center min-h-dvh text-red-500"
>
  <b class="text-4xl">No User exist :&lt;</b>
  <p class="text-xl">Search for Username</p>
  <p class="text-xs opacity-75">Example: vishalKarasi, freeCodeCamp</p>
</div>

<!-- pagination -->
<app-pagination
  *ngIf="username"
  [totalRecords]="totalRecords"
  (pageChange)="setPagination($event)"
></app-pagination>
